<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="ie=edge" http-equiv="X-UA-Compatible">
        <title>
            git testing!kjhdqoidlqwdqjdklmqwld
        </title>
    </head>
    <body>
        <h1>
            Hello Planetqwdqwdqwdqwdqwdqwdqwd
        </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati, fuga!
        </p>
        {% paginate elements as pageInfo, pageEntries %}

            {% for item in pageEntries %}

            {% endfor %}

            {% if pageInfo.prevUrl %}
                <a href="{{ pageInfo.prevUrl }}">
                    Previous Page
                </a>
            {% endif %}
            {% if pageInfo.nextUrl %}
                <a href="{{ pageInfo.nextUrl }}">
                    Next Page
                </a>
            {% endif %}
        </body>
    </body>
</html>
